@font-face {
  font-family: "lato";
  src: url(./assets/fonts/lato/Lato-Light.ttf);
}

@font-face {
  font-family: "lora";
  src: url(./assets/fonts/lora/static/Lora-Bold.ttf);
}

*{
  font-family: lato !important;
}

.carousel_indicator_btn{
  height: 6px !important;
}

.carousel-indicators{
  position: absolute !important;
  bottom: 20% !important;
}
/* .carousel-indicators [data-bs-target]{
  background-color: #dad791 !important;
} */
.cities_div h5{
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 2px;
}
.sotheby{
  font-family: lora !important;
}

@media screen and (max-width: 768px) {
  .times{
    font-size: 20px !important;
  }
  .para{
    font-size: 12px !important;
  }
  .icons{
    font-size: 25px !important;
  }

  .cities_div h5{
    font-size: 14px !important;
  }
  .united-kingdom{
    font-size: 14px !important;
  }
  .united-kingdom-para{
    font-size: 12px !important;
  }
  .sotheby{
    font-size: 30px !important;
  }
  .logo{
    width: 100px !important;
    height: 20px !important;
  }
}

@media screen and (max-width: 590px) {
  .carousel-indicators{
    bottom: 30% !important;
  }

  .times{
    font-size: 18px !important;
  }
  .para{
    font-size: 10px !important;
  }
  .icons{
    font-size: 20px !important;
  }

  .cities_div h5{
    font-size: 10px !important;
  }
  .united-kingdom{
    font-size: 10px !important;
  }
  .united-kingdom-para{
    font-size: 12px !important;
  }
  .sotheby{
    font-size: 22px !important;
  }
  .logo{
    width: 80px !important;
    height: 18px !important;
  }
  .circular_progress{
    width: 45px !important;
    height: 60px !important;
  }
  .progress_text{
    bottom: 22% !important;
    margin-left: 10px !important;
  }
}